<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Item</th>
      <% local_assigns.fetch(:item_headers, []).each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= link_to item.number, team_scav_hunt_item_path(@team_scav_hunt, item) %></td>
        <td><%= item.content %></td>
        <%= yield item %>
      </tr>
    <% end %>
  </tbody>
</table>
