<h1>Configure Account</h1>
<p>Discord Account Linking:
  <% if @user.discord_id %>
    Discord account is currently linked!
    <br>
    <%= link_to "Click here to re-link or update your discord account", discord_connect_account_uri(user: @user, path: edit_user_path) %>
  <% else %>
    <%= link_to "Click here to link your discord account", discord_connect_account_uri(user: @user, path: edit_user_path) %>
  <% end %>
</p>
