<% if @scav_hunt.nil? %>
<p>Your captains haven't registered your team yet!</p>
<% elsif captain? %>
  <%= link_to "Go to per-year team pages", team_scav_hunts_path %>
<% else %>
  <%= link_to "Click here? You should never see this.", team_scav_hunt_path(@scav_hunt) %>
<% end %>
