<h2>Your teams:</h2>
<ul>
  <% @teams.each do |team| %>
    <li><%= link_to team.affiliation, team_url(domain: "#{team.prefix}.scavinator.com") %></li>
  <% end %>
</ul>

<% if is_admin? %>
<h2>Admin Options</h2>
<ul>
  <li><%= link_to "Manage Hunts", scav_hunts_path %></li>
</ul>
<% end %>
