<main>
  <h1>Welcome to<br>Scavinator!</h1>
  <h2>The free, open-source, item tracking tool your team needs to organize your scav.</h2>
  <nav>
    <%= link_to "Log In", new_session_path, id: "login", class: "button" %>
    <%= link_to new_root_user_path, id: "scavvie-signup", class: "button" do %>
      Sign up <b>(Captain)</b>
    <% end %>
  </nav>
  <p>The fourdays are fast and your team is big. You need to connect scavvies who want to work on the same item with eachother, scavvies who need resources with scavvies who have access to resources, and you need to make it easy for your scavvies to find items that they'd want to work on. In years past, most sizable teams have leaned on some kind of digital solution, repurposing ticket tracking software and google sheets to serve has a database in order to make coodinating tens to hundreds of scavvies possible. These tools work, but they come with limits and challenges because they simply aren't built for the scale or the intricacies of scav.</p>
  <p>Scavinator is a solution to that problem. It is a dedicated tool, designed and run specifically for scav. It provides teams with a way to track items, their categories, and who is working on them. Using the slack/discord integration, it can also coordinate communication between scavvies. This is intended to be a collective project and a shared resource between teams, so feel free to suggest features or contribute code on [GitHub] or in the [Scavinator discord server]!</p>
  <p>
        Happy scavving :D
    <br>- The scavinator team <small><i>(which is just me (SUCCs Isaiah) right now)</i></small>
  </p>
</main>
