<h1>Register for The Hunt</h1>
<p><b>Note:</b> <i>This is NOT the official registration, just Scavinator setup. You still need to register with the judges, that's the important part</i></p>
<%= form_with model: TeamScavHunt.new do |form| %>
  <%= form.text_field :name, required: true, placeholder: "Name" %>
  <%= form.select :scav_hunt_id, @eligable_scav_hunts.map { |hunt| [hunt.name, hunt.id] } %>
  <%= form.submit "Register" %>
<% end %>
